/* Fonts */
$default-font: 'Montserrat', Arial, sans-serif

/* Colors */
$main-color: #000000
$blue-color: #00aeef

/* Breakpoints
  Точки адаптивного перехода разрешений
  */
$bp1: 320px
$bp2: 768px
$bp3: 1280px
$bp4: 1920px

/* Wrappers
  Значения ширины контента контейнера
  */
$wp1: 410px
$wp2: 768px
$wp3: 1280px

$breakpoints: (mobile: $bp1, tablet: $bp2, desktop: $bp3, wide-screen: $bp4)

/* Container offsets
  Значения отступов контейнера по бокам
  */

$co1: 24px
$co2: 32px
$co3: 55px

/* Transition
  Значения времени переходов
  */
$default-transition: 0.3s

/* Header  height
  Значения высоты шапки
  */
$hh1: 78px
$hh2: 78px
$hh3: 124px
$hmh: 50px

/* Header  height
  Значения высоты фиксированной шапки
  */
$hhFixMobile: 75px
$hhFixTablet: 75px
$hhFixDesktop: 75px