{{#tabs.isNotEmpty}}
  <div class="tabs-list">
    <div class="tabs-list-links">
      {{#tabs}}
        <div class="tabs-list-link{{#active}} tabs-list-link_active{{/active}}" data-tab="{{id}}">{{name}}</div>
      {{/tabs}}
    </div>
    <div class="tabs-list-panels">
      {{#tabs}}
        <div class="tabs-list-panel" data-tab="{{id}}">{{{content}}}</div>
      {{/tabs}}
    </div>
  </div>
{{/tabs.isNotEmpty}}