{{#items.isNotEmpty}}
    <div class="header-menu-list">
        <div class="header-menu-list-items">
            {{#items}}
                <a href="{{href}}" class="header-menu-list-item{{#active}} header-menu-list-item_active{{/active}}"{{#targetBlank}} target="_blank"{{/targetBlank}}>
                    {{{text}}}
                    {{#icon}}
                        <span class="header-menu-list-item__icon">{{{inline}}}</span>
                    {{/icon}}
                </a>
            {{/items}}
        </div>
    </div>
{{/items.isNotEmpty}}

