.projects-list-items
  display: grid
  gap: 30px

.projects-list-card
  position: relative
  border-radius: 6px
  border: 1px solid #F2F2F2
  box-shadow: 0 4px 4px 0 #00000014

.projects-list-card-image-wrap
  position: relative
  border-radius: 6px 6px 0 0
  overflow: hidden
  line-height: 0
  padding-bottom: 81.6%

.projects-list-card-image
  +absoluteFluid

.projects-list-card__img
  width: 100%
  height: 100%
  object-fit: cover

.projects-list-card-content
  padding: 25px 25px 28px

.projects-list-card-content-top
  margin-bottom: 25px
  &:last-child
    margin-bottom: 0

.projects-list-card__description,
.projects-list-card__link,
.projects-list-card-release-date__title,
.projects-list-card__chars
  display: none

.projects-list-card__name
  font-size: 16px
  font-weight: 700
  line-height: 18px
  letter-spacing: 0.02em

.projects-list-card-release-date__text,
.projects-list-card__address
  font-size: 14px
  font-weight: 600
  line-height: 18px
  letter-spacing: 0.02em

.projects-list-card__address
  margin-top: 13px

.projects-list__link
  display: inline-block
  font-size: 16px
  font-weight: 700
  line-height: 16px
  letter-spacing: 0.05em
  border-bottom: 1px solid
  margin-top: 30px

.projects-list-card-link__icon
  display: none

+mq(tablet)
  .projects-list-card_not-chars
    border-radius: 6px
    overflow: hidden

    .projects-list-card-content
      padding: 0

  .projects-list-card-image-wrap
    padding-bottom: 65%
    &:after
      content: ''
      opacity: 1
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 106.85%)
      +absoluteFluid

  .projects-list-card-content
    border-radius: 6px
    overflow: hidden
    padding: 30px 30px 34px

  .projects-list-card-content-top
    position: absolute
    top: 47px
    left: 28px
    color: #FFF

  .projects-list-card__name
    font-size: 20px
    line-height: 1em

  .projects-list-card__description
    display: block
    font: 600 18px / 18px $default-font
    letter-spacing: 0.02em
    margin-top: 13px

  .projects-list-card-content-bottom
    position: absolute
    top: 325px
    left: 32px
    color: #FFF

  .projects-list-card__link
    display: inline-block
    font: 600 14px / 16px $default-font
    letter-spacing: 0.05em
    border-radius: 6px
    border: 2px solid #FFF
    padding: 14px 51px

  .projects-list-card__release-date
    margin-top: 22px

  .projects-list-card-release-date__text
    font-size: 18px

  .projects-list-card__address
    display: none

  .projects-list-card__chars
    display: flex
    flex-direction: column
    gap: 23px

  .projects-list-card-chars-item
    display: grid
    grid-template-columns: repeat(2, minmax(0, auto))
    justify-content: left
    gap: 37px

  .projects-list-card-chars__title
    font: 500 14px / 16px $default-font
    letter-spacing: 0.03em
    width: 50px

  .projects-list-card-chars__desc
    font: 600 16px / 16px $default-font
    letter-spacing: 0.05em
    span
      font-size: 14px
      margin-left: 26px

  .projects-list__link
    margin-top: 42px

+mq(desktop)
  .projects-list-items
    grid-template-columns: repeat(7, minmax(0, 1fr))
    gap: 24px

  .projects-list-card
    transition: $default-transition

    .link-as-card
      z-index: 2

    &:nth-child(4n + 2), &:nth-child(4n + 3)
      grid-column: span 3

      .projects-list-card-image-wrap
        padding-bottom: 90%

    &:not(:nth-child(4n + 2), :nth-child(4n + 3))
      grid-column: span 4

      .projects-list-card-image-wrap
        padding-bottom: 66.6%

    &:hover
      .projects-list-card-image-wrap
        &:before
          opacity: 1

        &:after
          opacity: 0

      .projects-list-card-release-date__title
        margin-left: 0

  .projects-list-card-image-wrap
    border-radius: 6px
    &:after, &:before
      transition: $default-transition

    &:before
      content: ''
      opacity: 0
      z-index: 1
      background: linear-gradient(135deg, rgba(255, 184, 0, 0.95) 50%, rgba(255, 205, 18, 0.95) 100%)
      +absoluteFluid

  .projects-list-card-content
    position: absolute
    z-index: 1
    padding: 0
    +absoluteFluid

  .projects-list-card__link
    display: inline-flex
    gap: 15px
    padding: 18px 34px

  .projects-list-card-link__icon
    display: flex

  .projects-list-card__release-date
    display: flex
    overflow: hidden

  .projects-list-card-release-date__title
    display: block
    transition: $default-transition
    margin-left: -52%

  .projects-list-card-release-date__text
    flex-shrink: 0
    margin-left: 33px

  .projects-list-card__chars
    display: none
    width: 0

  .projects-list__link
    transition: $default-transition
    &:hover
      border-color: transparent