@import '../tabs-list/tabs-list'

.projects-list
  margin-top: 60px

.projects-list__title
  font-size: 24px
  font-weight: 800
  line-height: 29px
  margin-bottom: 24px

.projects-list-card
  position: relative
  border-radius: 6px
  border: 1px solid #F2F2F2

.projects-list-card-content
  padding: 25px 25px 28px