.section-list
  margin-top: 30px

.section-list__title
  font-size: 24px
  font-weight: 800
  line-height: 29px
  margin-bottom: 24px

.section-list-tabs
  display: none

.section-list-panels
  transition: $default-transition

.section-list-panel
  display: none
  opacity: 0
  visibility: hidden
  transition: $default-transition

  &_active
    display: block

  &_in
    opacity: 1
    visibility: visible
    transition: visibility $default-transition, opacity $default-transition $default-transition

.section-list-dropdown
  position: relative
  font-size: 14px
  font-weight: 500
  line-height: 17px
  margin-bottom: 30px

.section-list-dropdown-button
  display: flex
  justify-content: space-between
  align-items: center
  gap: 20px
  width: 100%
  border-radius: 5px
  border: 1px solid transparentize($main-color, .8)
  box-shadow: 0 4px 40px 0 #00000012
  padding: 14px 20px 17px 23px

.section-list-dropdown-button__text
  transition: $default-transition

.section-list-dropdown-button__icon
  display: flex
  transition: $default-transition

.section-list-dropdown-menu
  position: absolute
  opacity: 0
  display: block
  max-height: 0
  width: 100%
  z-index: 1
  background-color: #fff
  overflow-x: hidden
  overflow-y: scroll
  border-radius: 5px
  border: 1px solid transparent
  transition: $default-transition
  margin-top: 6px

  &::-webkit-scrollbar
    position: absolute
    width: 4px

  &::-webkit-scrollbar-thumb
    background-color: $yellow-color

.section-list-dropdown-menu-item
  display: flex
  cursor: pointer
  padding: 14px 20px 17px 23px

.section-list-dropdown-menu-item_active
  background-color: #D4DEE180

.section-list-dropdown_open
  .section-list-dropdown-button__icon
    transform: rotate(180deg)

  .section-list-dropdown-menu
    opacity: 1
    max-height: 240px
    border-color: transparentize($main-color, .8)
    box-shadow: 0 4px 40px 0 #00000012

  .section-list-dropdown-button-icon__rotate
    transform: rotate(180deg)

+mq(tablet)
  .section-list__title
    font-size: 36px
    line-height: 43px
    letter-spacing: 0.02em
    margin-bottom: 50px

  .section-list-dropdown
    display: none

  .section-list-tabs
    display: flex
    position: relative
    font-size: 18px
    font-weight: 500
    line-height: 22px
    letter-spacing: 0.03em
    color: transparentize($black-color, .6)
    padding-bottom: 57px

  .section-list-tab
    cursor: pointer
    transition: $default-transition
    border-bottom: 2px solid transparent
    margin-right: 40px

    &_active
      border-bottom: 2px solid $yellow-color

+mq(desktop)
  .section-list-dropdown-menu-item
    transition: $default-transition
    &:hover
      background-color: #D4DEE180

  .section-list-tab
    transition: $default-transition

  .section-list-tab:not(.section-list-tab_active)
    &:hover
      color: $yellow-color